<ion-header class="ion-color-primary" primary>
    <ion-toolbar class="ion-color-primary" primary>
        <ion-title>Iniciar Sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding="">
    <div class="banner">
        <img src="assets/img/banner.jpg">
    </div>
    <form [formGroup]="loginForm" class="login-form">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input type="email" name="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="password" name="password"></ion-input>
            </ion-item>
            <br>
            <ion-button (click)="login()" expand="block">Iniciar Sesión</ion-button>
        </ion-list>
    </form>

    <!--<ion-button (click)="downloadUpdate()" expand="block">Descargar App Version</ion-button>-->
</ion-content>
