<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Manual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Proximamente</h3>

</ion-content>
