// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-header, ion-toolbar {
  --background: #0d9ae1;
  color: #FFF;
}

.not-border {
  --border-width: 0 0 0 !important;
}

ion-header ion-toolbar ion-buttons,
ion-header ion-toolbar ion-title {
  display: inline-block !important;
}


.errors-container {
  background: #f25454;
}

.errors-container li {
  color: #FFF;
}


.toast-wrapper {
  --end: 20% !important;
  --start: 40% !important;
}

.network-toast {

  .toast-wrapper.toast-top .toast-content {
    padding: 5px;
  }
}

.network-toast{
  --end: 20%;
  --start: 40%;
  --width: 40%;
}


.icon-white{
  color: #FFF!important;
}
