<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" color="#FFF">
                <ion-icon class="icon-white" ios="ios-close" md="md-close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Ver Error</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Code: {{error.code}}</h3>
    <p>url: {{error.url}}</p>

    <h2>Contenido:</h2>

    <div style="background-color: grey;">
        <p *ngIf="error.content">{{error.content}}</p>
    </div>

    <br>
    <div [innerHTML]="error.errorMessage"></div>


</ion-content>